* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 200;
}

/* Social Icons Stuff */

.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 5px;

}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: #01b742;
}

a.social:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  .social-container {
    
  }
}



